.payment_method_paghiper_billet {padding:0px !important;margin:0px !important;}
.payment_method_paghiper_billet .payment_box  {display:none !important;}
.payment_method_paghiper_pix {padding:0px !important;margin:0px !important;}
.payment_method_paghiper_pix .payment_box  {display:none !important;}